* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    min-width: 100%;
    min-height: 100%;
}

html{
    background-image: url("../imagem/bg.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgba(158, 194, 205, 0.801);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgba(158, 194, 205, 0.801);
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}


