* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    min-height: 100%;
}

body{
    background: url("https://w.wallhaven.cc/full/ne/wallhaven-neoxo8.png") no-repeat center center/cover ;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgba(130, 130, 130, 0.6);
    
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgba(130, 130, 130, 0.6);
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}


