* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    min-height: 100%;
}

.bg{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg::before{
    content: '';
    background-image: url("https://w.wallhaven.cc/full/ne/wallhaven-neoxo8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



.content {
    position: relative;
    top: -6%;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgba(130, 130, 130, 0.6);
    
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgba(130, 130, 130, 0.6);
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}


