

@media screen and (min-width: 1280px) and (max-width: 1440px){
    .content{
        height: auto;
        max-width: 1000px;
        justify-self: center;
        margin: 5rem 1rem;
        background-color: black;
    }
    .pokemons{
        margin: 2.5rem;
        grid-template-columns: 1fr  ;
    }

}

@media screen and (max-width: 1920px){

    .content{
        height: auto;
        justify-self: center;
        max-width: 1400px;
        margin: 5rem 1rem;
        background-color: rgba(158, 194, 205, 0.801);
        border-radius: .7rem;
    }
    .pokemons{
        margin: 2.5rem;
        grid-template-columns: 1fr 1fr;
    }
}



    